.navbar-dark .navbar-toggler-icon {
    background-image: url("https://cdn.icon-icons.com/icons2/1769/PNG/512/4092564-about-mobile-ui-profile-ui-user-website_114033.png");
}
.card-infos{
    width: 50%;
    margin: auto;
}